<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <!--扫描dao层注解-->
    <context:component-scan base-package="com.itheima.dao"></context:component-scan>
    <!--读取properties配置文件-->
    <context:property-placeholder location="classpath:db.properties"></context:property-placeholder>
    <!--数据源-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <!--配置SqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--引用数据源-->
        <property name="dataSource" ref="dataSource"></property>
        <property name="mapperLocations" value="classpath:com/itheima/dao/*.xml"></property>
        <!--给SQL语句包起别名-->
        <property name="typeAliasesPackage" value="com.itheima.domain"></property>
    </bean>
    <!--配置自动扫描m-->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--配置mapper所在的位置
            原则:mapper.xml要和dao接口同名且在同一包下
        -->
        <property name="basePackage" value="com.itheima.dao"></property>
    </bean>

</beans>